<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Need For Ping</title>
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="Public/css/bootstrap/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="Public/css/bootstrap/bootstrap-theme.min.css">
  <link rel="stylesheet" href="Public/css/bootstrap/bootstrap.min.css">
  <script type="text/javascript" src="Public/js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="Public/js/getquery.js"></script>
  <script type="text/javascript" src="Public/js/drawLoss.js"></script>
  <script type="text/javascript" src="Public/js/drawLatency.js"></script>
  <script type="text/javascript" src="Public/js/draw_charts.js"></script>
  <script type="text/javascript" src="Public/js/bootstrap/bootstrap.min.js"></script>
  <script type="text/javascript" src="Public/js/bootstrap/bootstrap-datetimepicker.min.js"></script>
  <script src="Public/js/highcharts/highcharts.js"></script>
  <script src="Public/js/highcharts/modules/exporting.js"></script>
</head>

<body>
  <h3>Need For Ping</h3>
  <div style="width:90%; margin:0 auto; overflow:auto; _display:inline-block;">
    <div>
      <div id="LOSS_container" style="min-width: 310px; height: 222px; margin: 0 auto">丢包率图表框架</div>
      <div id="LATENCY_container" style="min-width: 310px; height: 222px; margin: 0 auto">延迟图表框架</div>
    </div>
    <div style="background-color:#ffff99; min-width:256px;min-height:65px; float:left;">
      <p>
        <input type="checkbox" id="query_range_checkbox">时间范围</p>
      <div class="input-append date" id="datetimepicker1">
        开始时间：
        <input type="text" id="starttime" class="query_range_input" disabled="disabled">
        <span class="add-on"><i class="icon-th"></i></span>
      </div>
      <div class="input-append date" id="datetimepicker2">
        结束时间：
        <input type="text" id="endtime" class="query_range_input" disabled="disabled">
        <span class="add-on"><i class="icon-th"></i></span>
      </div>

      <p>GitHub：<a href="https://github.com/catscarlet/">GitHub</a></p>
      <p>WebSite：<a href="http://www.catscarlet.com">http://www.catscarlet.com</a></p>
    </div>

    <div style="background-color:#EEEEEE; min-width:155px; float:left;">
      <form name="server_selecter">
        <table border="0">
          <volist name="list" id="vo">
            <tr>
              <td>
                <input type="checkbox" id="{$vo.id}" class="serverList" value="{$vo.server_name}" checked>
              </td>
              <td>
                <label for="{$vo.id}">{$vo.alias_name}</label>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>{$vo.server_name}</td>
            </tr>
          </volist>
        </table>
        <input type="button" id="submit" value="Submit">
      </form>
    </div>
  </div>

</body>

</html>
